#one
{
    height: 400px;
    width: 300px;
    background: linear-gradient(45deg,blue,red);
    display: flex;
    margin: auto;
    margin-top: 120px;
}

#two
{
    height: 400px;
    width: 300px;
    background: linear-gradient(to right,black,30%,darkgrey,80%,darkblue);
    display: flex;
    margin: auto;
    margin-top: 120px;
}

#three
{
    height: 400px;
    width: 300px;
    background: linear-gradient(45deg,lime,aquamarine,aqua);
    display: flex;
    margin: auto;
    margin-top: 120px;
}